[submodule "lib/ContinuousZMCT103C"]
	path = lib/ContinuousZMCT103C
	url = git@github.com:jhyland87/ContinuousZMCT103C.git

[submodule "lib/ESP32-Serial-Studio-Dashboard-Generator"]
	path = lib/ESP32-Serial-Studio-Dashboard-Generator
	url = git@github.com:jhyland87/ESP32-Serial-Studio-Dashboard-Generator.git