[submodule "lib/Device-Defined-Dashboard"]
	path = lib/Device-Defined-Dashboard
	url = git@github.com:jhyland87/Device-Defined-Dashboard.git

[submodule "lib/Adafruit_MAX31865"]
	path = lib/Adafruit_MAX31865
	url = git@github.com:jhyland87/Adafruit_MAX31865.git
